body {
    margin: 0;
    font-family: 'Calibri', serif;
    color: #fff;
    background-color: #111;
}
header {
    text-align: center;
    padding: 2rem 1rem;
}
header h1 {
    font-size: 3rem;
    margin: 0;
}
header p {
    font-size: 1.2rem;
    color: #ccc;
}
.menu {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 2rem;
}
.menu-section {
    text-align: left;
}
.menu-item {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
    border: 1px solid #a8a8a8;
    border-radius: 1rem;
    padding: 1rem;
}
.menu-item a {
    color: #a8a8a8;
    text-decoration: none;
}
.menu-item a:hover {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}
footer {
    text-align: center;
    padding: 1rem;
    background-color: #222;
    font-size: 0.9rem;
    color: #aaa;
}